alembic==1.4.2
amqp==2.6.1
APScheduler==3.6.3
argon2-cffi==20.1.0
arrow==0.15.8
attrs==19.3.0
Automat==20.2.0
backcall==0.2.0
billiard==3.6.3.0
bleach==3.1.5
celery==4.4.7
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
constantly==15.1.0
cryptography==3.0
cssselect==1.1.0
curlify==2.2.1
dataset==1.3.0
DateTimeRange==1.0.0
decorator==4.4.2
defusedxml==0.6.0
dnspython==1.16.0
entrypoints==0.3
eventlet==0.26.1
Flask==1.1.2
Flask-APScheduler==1.11.0
Flask-Cors==3.0.8
Flask-Login==0.5.0
Flask-SocketIO==4.3.1
gevent==20.6.2
greenlet==0.4.16
gunicorn==20.0.4
hyperlink==19.0.0
idna==2.10
incremental==17.5.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itemadapter==0.1.0
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.6
jupyter-console==6.1.0
jupyter-core==4.6.3
kombu==4.6.11
lxml==4.5.2
Mako==1.1.3
MarkupSafe==1.1.1
mbstrdecoder==1.0.0
mistune==0.8.4
monotonic==1.5
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.0
odin==1.5.2
packaging==20.4
pandocfilters==1.4.2
parsel==1.6.0
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.5
Protego==0.1.16
ptyprocess==0.6.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyDispatcher==2.0.5
Pygments==2.6.1
PyHamcrest==2.0.2
PyJWT==1.7.1
PyMySQL==0.10.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
python-editor==1.0.4
python-engineio==3.13.1
python-socketio==4.6.0
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.5
QtPy==1.9.0
queuelib==1.5.0
requests==2.24.0
Scrapy==2.2.1
selenium==3.141.0
Send2Trash==1.5.0
service-identity==18.1.0
six==1.15.0
SQLAlchemy==1.3.18
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
Twisted==20.3.0
typepy==1.1.1
tzlocal==2.1
urllib3==1.25.10
vine==1.3.0
w3lib==1.22.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
xlrd==2.0.1
xmltodict==0.12.0
zope.event==4.4
zope.interface==5.1.0
